@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640492116301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e64b";
}

.icon-icon-test1:before {
  content: "\e64f";
}

.icon-icon-test2:before {
  content: "\e65e";
}

.icon-icon-test3:before {
  content: "\e65f";
}

